.container{
    border: 2px solid salmon;
    display: flex;
    /* flex-direction: row-reverse; */
    height: 250px;
    flex-wrap:  wrap;
    gap: 10px;
    /* justify-content: flex-end; */
}

.box{
    width: 50px;
    height: 50px;
    border: 2px dashed tomato;
}